# Configuration files #
###################
*BICRO*.config
gui_cluster/config.ini
gui_no_cluster/config.ini

# Data folder #
###################
data/*/
plot_profiles/*/
plot_profiles/*.png
scripts/__pycache__
gui/__pycache__
test
.vscode
gui/*.ini
