# Configuration files #
###################
config*
gui_no_cluster/config.ini

# Data folder #
###################
data/*/
plot_profiles/*/
plot_profiles/*.png
scripts/__pycache__
gui_no_cluster/__pycache__
test
.vscode

# folders to ignore #
#####################
old_set_of_scripts

# sbatch jobs #
#####################
plot_profiles/run_fit.sh

#python caches
*.pyc