source_raw_folder_path="$(pwd)/test"
path_raw_folder="$(pwd)/test"
expID="test"
number_of_images=1

###############################
### preprocessing variables ###
###############################
dw_iterations=20
perform_decolvolution="True"

##############################
### segmentation variables ###
##############################
dapi_channel_name="dapi"
yfish_channel_name="Cy5"
pixel_dx="130.0"
pixel_dy="130.0"
pixel_dz="200.0"
estimated_nuc_diameter="100"

#############################
###### Advanced Options #####
#############################
preprocessing_estimated_time="12:00:00"
memory_per_image="60GB"
threads=10
segmentation_estimated_time="24:00:00"
use_dw_dapi="True"
standardize_image_for_seg="True"
