source_raw_folder_path="/scratch/giorgio.ravanelli/BICRO207"
path_raw_folder="/scratch/giorgio.ravanelli/test_new_profile/BICRO207"
expID="BICRO207"
number_of_images=6

###############################
### preprocessing variables ###
###############################

preprocessing_estimated_time="12:00:00"
memory_per_image="30GB"
dw_iterations=15
threads=10

##############################
### segmentation variables ###
##############################

segmentation_estimated_time="24:00:00"
dapi_channel_name="dapi"
yfish_channel_name="Cy5"
pixel_dx="130.0"
pixel_dy="130.0"
pixel_dz="200.0"
estimated_nuc_diameter="100"
use_dw_dapi="False"
